.gpt3 {
  background-image: linear-gradient(
    to right bottom,
    rgba(#0f4279, 0.5),
    rgba(#1b78de, 0.8)
  );
  padding: 6rem;
  margin: 2rem 6rem;
}

.future {
  padding: 2rem 6rem;
  margin-top: 10rem;
}

.possibility {
  padding: 2rem 8rem;
}

.cta {
  margin: 15.4rem 13.5rem;

  @include respond(phone) {
    margin: 10rem 4rem;
  }
}

.blog {
  margin: 15.4rem 13.5rem;

  @include respond(phone) {
    margin: 8rem 4rem;
  }
}
