.company__logos {
  padding: 4rem 6rem;
  margin: 6rem;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  @include respond(tab-port) {
    gap: 2rem;
  }

  @include respond(phone) {
    flex-direction: column;
  }
}
