.footer {
  background: #031b34;

  &__heading {
    font-size: 6.2rem;
    font-weight: 800;
    line-height: 7.5rem;
    text-align: center;
    letter-spacing: -0.04em;
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    padding: 17.5rem 30.9rem 6.4rem 31rem;

    @include respond(tab-land) {
      font-size: 4rem;
      line-height: 5rem;
    }

    @include respond(tab-port) {
      font-size: 3rem;
      line-height: 4rem;
      padding: 10rem 20rem;
    }

    @include respond(phone) {
      text-align: center;
      padding: 4rem;
      margin-bottom: 1rem;
    }
  }

  &__button {
    text-align: center;

    &--style:link,
    &--style:visited {
      width: 21.8rem;
      height: 6.5rem;
      border: 1px solid #ffffff;
      font-family: "Gilroy-Medium";
      font-size: 1.8rem;
      line-height: 2.1rem;
      color: #ffffff;
      text-decoration: none;
      text-transform: capitalize;
      padding: 2rem 2.2rem;

      @include respond(tab-port) {
        width: 17rem;
        height: 5rem;
        padding: 1.5rem 1.7rem;
        font-size: 1.6rem;
      }
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    gap: 21rem;

    padding: 18rem 24rem 8.3rem 20rem;

    @include respond(tab-land) {
      gap: 10rem;
    }

    @include respond(tab-port) {
      gap: 5rem;
    }

    @include respond(phone) {
      display: grid;
      justify-content: space-between;
      grid-template-columns: [col1-start] 10rem [col1-end col2-start] 10rem [col2-end];
      grid-template-rows: [row1-start] 10rem [row1-end row2-start] 10rem [row2-end];
      column-gap: 20rem;
      row-gap: 10rem;
    }
  }

  &__logo {
    width: 11.8rem;
    height: 3rem;
    margin-bottom: 2.5rem;
  }

  &__gpt3--text {
    @include footerItem;
    width: 16rem;
  }

  &__link {
    &--heading {
      @include footerItemHeading;
    }

    &--item {
      @include footerItem;
      width: 7.2rem;
      &:not(:last-child) {
        margin-bottom: 2.6rem;
      }
    }
  }

  &__company {
    &--heading {
      @include footerItemHeading;
    }

    &--item {
      @include footerItem;
      width: 10rem;
      &:not(:last-child) {
        margin-bottom: 2.6rem;
      }
    }
  }

  &__contact {
    &--heading {
      @include footerItemHeading;
    }

    &--item {
      @include footerItem;
      width: 11.6rem;
      &:not(:last-child) {
        margin-bottom: 2.6rem;
      }
    }
  }

  &__copyright {
    font-family: "Gilroy-Medium";
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-feature-settings: "liga" off;
    color: #ffffff;
    text-align: center;
    padding-bottom: 2.7rem;

    @include respond(phone) {
      line-height: 2rem;
      font-size: 3rem;
      margin-top: 6rem;
    }
  }
}
