.possibility {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @include respond(phone) {
    flex-direction: column;
  }

  &__img {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    // margin-bottom: 2rem;

    @include respond(phone) {
      margin-top: 2rem;
      text-align: center;
    }

    &--text {
      font-size: $default-font-size;
      font-weight: 500;
      line-height: 3rem;
      color: #71e5ff;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &--description {
      font-size: $default-font-size;
      font-weight: 400;
      line-height: 3rem;
      color: $description-text;

      @include respond(phone) {
        font-size: 2rem;
      }
    }

    &--access {
      font-size: $default-font-size;
      font-weight: 500;
      line-height: 3rem;
      color: #ff8a71;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
